.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Diena_11_modules_packages_std/__pycache__/
Diena_11_modules_packages_std/pkg/__pycache__/
Diena_11_modules_packages_std/pkg/subp/__pycache__/
Diena_11_modules_packages_std/my_lib/__pycache__/my_mod.cpython-38.pyc
__pycache__/some_mod.cpython-38.pyc
__pycache__/string_methods.cpython-38.pyc
Diena_11_modules_packages_std/my_cool_lib/__pycache__/my_cool_mod.cpython-38.pyc
data/frost-filtered.txt
data/frost.filtered.bak.txt
data/frost.txt
data/Veidenbauma Dzeja.txt
data/veidenbaums_no_punkts.txt
data/veidenbaums_poems.txt
data/veidenbaums.txt
data/vtest.txt
Diena_12_Faili/frost-filtered.bak
Diena_12_Faili/frost.bak
Diena_12_Faili/frost.filtered.bak.bak
Diena_12_Faili/Veidenbauma Dzeja.bak
Diena_12_Faili/veidenbaums_no_punkts.bak
Diena_12_Faili/veidenbaums_poems.bak
Diena_12_Faili/veidenbaums.bak
Diena_12_Faili/vtest.bak
env/
req.txt
Diena_13_Visualization/.ipynb_checkpoints/Jupyter Introduction-checkpoint.ipynb
Diena_14_JSON/data_file_indented.json
Diena_14_JSON/data_file.json
Diena_14_JSON/uk_ages.json
Diena_13_Visualization/.ipynb_checkpoints/Matplotlib in Jupyter-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Reading Data with Pandas-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Jupyter Group 1-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Matplotlib in Jupyter-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Plotly Example-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Random Dice-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/JaunsFails-checkpoint.ipynb
Diena_14_JSON/14_1a.xls
Diena_14_JSON/14_1b.xls
Diena_14_JSON/.ipynb_checkpoints/Getting Potato Recipes-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/PuppyRecipes-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_14_JSON/potatoes.json
Diena_14_JSON/jp_ages.json
Diena_14_JSON/my_todos.csv
Diena_14_JSON/potato_recipes.json
Diena_14_JSON/potatoes_100.json
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/Web Scraping Apartments-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/Web Scraping with Pandas-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/WebScraping-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/Selenium-checkpoint.ipynb
Diena_15_Web_Scraping/__pycache__/selenium.cpython-38.pyc
Diena_15_Web_Scraping/geckodriver.log
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/centrs.xlsx
Diena_15_Web_Scraping/centrs_06_10.xlsx
Diena_15_Web_Scraping/page.png
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_11_modules_packages_std/my_lib/__pycache__/my_tools.cpython-39.pyc
Diena_11_modules_packages_std/my_lib/__pycache__/u1_g2.cpython-39.pyc
Diena_12_Faili/v_cleaned.txt
Diena_12_Faili/v_count.txt
Diena_12_Faili/v_filt_20.txt
Diena_12_Faili/v_filt_all.txt
Diena_12_Faili/v_filt.txt
Diena_12_Faili/frost-filtered.txt
Diena_12_Faili/frost-yelling.txt
Diena_12_Faili/frost-filtered.txt
Diena_13_Visualization/.ipynb_checkpoints/Interact-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Uzd1_group1_n16-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Uzd2_g1_n16-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Uzd1_g2-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Matlplotlib Full Example-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/U1_g2-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_14_JSON/ur_yearly_indent.json
Diena_14_JSON/ur_yearly.json
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_14_JSON/mock_data.csv
Diena_14_JSON/.ipynb_checkpoints/Recipies_G1-checkpoint.ipynb
Diena_14_JSON/10_recipes.json
Diena_14_JSON/ingredients.json
Diena_14_JSON/omlete_ingredients.json
Diena_15_Web_Scraping/~$centrs_24_11.xlsx
Diena_15_Web_Scraping/center.json
Diena_15_Web_Scraping/center.xlsx
Diena_15_Web_Scraping/centrs_24_11.xlsx
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/riga_center_60.xlsx
data/~$vaz.xlsx
data/sarkandaugava_24_11__20_5.xlsx
data/vaz.xlsx
Diena_15_Web_Scraping/center_stats.csv
data/sarkandaugava_25_11__19_41.xlsx
data/vaz_25_11.xlsx
Diena_15_Web_Scraping/~$centrs_25_11.xlsx
Diena_15_Web_Scraping/~$centrs_30.xlsx
Diena_15_Web_Scraping/~$riga_center_60.xlsx
Diena_15_Web_Scraping/centrs_25_11.xlsx
Diena_15_Web_Scraping/centrs_30.xlsx
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/suzuki.xlsx
Diena_16_misc/.ipynb_checkpoints/Scikit-learn Irises-checkpoint.ipynb
Diena_15_Web_Scraping/debug.log
Diena_13_Visualization/.ipynb_checkpoints/Jan21Notebook-checkpoint.ipynb
Diena_13_Visualization/Untitled1.ipynb
Diena_13_Visualization/.ipynb_checkpoints/d13_uzd2_VM-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/D13_g2_u1b-checkpoint.ipynb
.gitignore
Diena_13_Visualization/.ipynb_checkpoints/D13_g2_u1-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Klases_darbs_vizualizaacija-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/d13_g2_u2-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/JAN 25 01 2021-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/JSON_potato_exercises-checkpoint.ipynb
Diena_14_JSON/ing_omelet.json
Diena_14_JSON/ing_str_int.json
Diena_14_JSON/mock_data.csv
Diena_14_JSON/potato1.json
Diena_14_JSON/potato_full.json
Diena_14_JSON/mock_data.csv
Diena_14_JSON/onions.csv
Diena_14_JSON/soup.xlsx
Diena_14_JSON/.ipynb_checkpoints/D13_G2_Any_Recipe-checkpoint.ipynb
Diena_14_JSON/ice.xlsx
Diena_14_JSON/.ipynb_checkpoints/Klases darbs JSON-checkpoint.ipynb
Diena_14_JSON/o_recipes
Diena_14_JSON/o_recipes.json
Diena_15_Web_Scraping/centrs_28_01.xlsx
Diena_15_Web_Scraping/audi_allroad_28_01.xlsx
Diena_15_Web_Scraping/agenskalns_28_01.xlsx
Diena_15_Web_Scraping/.ipynb_checkpoints/Agenskalns SS lv-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/Audi-checkpoint.ipynb
report.html
bar.png
.ipynb_checkpoints/Alko_report-checkpoint.ipynb
pie.png
Diena_15_Web_Scraping/centrs_29_01.xlsx
Diena_13_Visualization/.ipynb_checkpoints/d13_g3_u1-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/ARCGIS-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Matplotlib in Jupyter-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Matplotlib in Jupyter-checkpoint.ipynb
Diena_15_Web_Scraping/~$centrs_10_03.xlsx
Diena_15_Web_Scraping/~$S60.xlsx
Diena_15_Web_Scraping/centrs_10_03.xlsx
Diena_15_Web_Scraping/S60.xlsx
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
data/volvo_03_10.xlsx
Diena_14_JSON/mock_data.csv
Diena_13_Visualization/.ipynb_checkpoints/MyPracticeMar15-checkpoint.ipynb
Diena_16_misc/__pycache__/hello_flask.cpython-39.pyc
Diena_16_misc/.ipynb_checkpoints/NumPY-checkpoint.ipynb
data/vaz_18_03.xlsx
data/volvo_03_18.xlsx
Diena_15_Web_Scraping/agens_18_03.xlsx
Diena_15_Web_Scraping/centrs_18_03.xlsx
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_12_Faili/big_text.txt
Diena_13_Visualization/.ipynb_checkpoints/Random_Dice_Sep24-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Nerezidenti-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/A17_Uzd1-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/Web_Scraping_Functions-checkpoint.ipynb
Diena_15_Web_Scraping/volvo_270921.xlsx
Diena_15_Web_Scraping/ogre_28sep.xlsx
Diena_15_Web_Scraping/riga_region_sep28.xlsx
.gitignore
Diena_15_Web_Scraping/rigas_rajons30.xlsx
Diena_12_Faili/frost_cleaned_o27.txt
Diena_12_Faili/frost_out_o27.txt
Diena_12_Faili/frost_roads_10_27_18_50_11.txt
Diena_12_Faili/veid_no_punct_o27.txt
Diena_12_Faili/veid_poem_o27.txt
Diena_12_Faili/veid_stats_o27.txt
Diena_12_Faili/veidenbaums_lines.txt
Diena_12_Faili/veidenbaums_no_kur_tik.txt
Diena_12_Faili/veidenbaums_no_punkts.txt
Diena_12_Faili/frost_cleaned_nov1.txt
Diena_12_Faili/frost_out_nov1.txt
Diena_12_Faili/frost_roads_11_1_19_6_46.txt
Diena_12_Faili/frost-filtered.txt
Diena_12_Faili/frost-filtered.txt
Diena_12_Faili/veidenbaums_no_punkts.txt
Diena_12_Faili/frost-filtered.txt
Diena_12_Faili/veidenbaums_no_punkts.txt
