.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Diena_11_modules_packages_std/__pycache__/
Diena_11_modules_packages_std/pkg/__pycache__/
Diena_11_modules_packages_std/pkg/subp/__pycache__/
Diena_11_modules_packages_std/my_lib/__pycache__/my_mod.cpython-38.pyc
__pycache__/some_mod.cpython-38.pyc
__pycache__/string_methods.cpython-38.pyc
Diena_11_modules_packages_std/my_cool_lib/__pycache__/my_cool_mod.cpython-38.pyc
data/frost-filtered.txt
data/frost.filtered.bak.txt
data/frost.txt
data/Veidenbauma Dzeja.txt
data/veidenbaums_no_punkts.txt
data/veidenbaums_poems.txt
data/veidenbaums.txt
data/vtest.txt
Diena_12_Faili/frost-filtered.bak
Diena_12_Faili/frost.bak
Diena_12_Faili/frost.filtered.bak.bak
Diena_12_Faili/Veidenbauma Dzeja.bak
Diena_12_Faili/veidenbaums_no_punkts.bak
Diena_12_Faili/veidenbaums_poems.bak
Diena_12_Faili/veidenbaums.bak
Diena_12_Faili/vtest.bak
env/
req.txt
Diena_13_Visualization/.ipynb_checkpoints/Jupyter Introduction-checkpoint.ipynb
Diena_14_JSON/data_file_indented.json
Diena_14_JSON/data_file.json
Diena_14_JSON/uk_ages.json
Diena_13_Visualization/.ipynb_checkpoints/Matplotlib in Jupyter-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Reading Data with Pandas-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Jupyter Group 1-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Matplotlib in Jupyter-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Plotly Example-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Random Dice-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/JaunsFails-checkpoint.ipynb
Diena_14_JSON/14_1a.xls
Diena_14_JSON/14_1b.xls
Diena_14_JSON/.ipynb_checkpoints/Getting Potato Recipes-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/PuppyRecipes-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_14_JSON/potatoes.json
Diena_14_JSON/jp_ages.json
Diena_14_JSON/my_todos.csv
Diena_14_JSON/potato_recipes.json
Diena_14_JSON/potatoes_100.json
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/Web Scraping Apartments-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/Web Scraping with Pandas-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/WebScraping-checkpoint.ipynb
Diena_15_Web_Scraping/.ipynb_checkpoints/Selenium-checkpoint.ipynb
Diena_15_Web_Scraping/__pycache__/selenium.cpython-38.pyc
Diena_15_Web_Scraping/geckodriver.log
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/centrs.xlsx
Diena_15_Web_Scraping/centrs_06_10.xlsx
Diena_15_Web_Scraping/page.png
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_15_Web_Scraping/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Diena_15_Web_Scraping/riga_center_60.xlsx
Diena_11_modules_packages_std/my_lib/__pycache__/my_tools.cpython-39.pyc
Diena_11_modules_packages_std/my_lib/__pycache__/u1_g2.cpython-39.pyc
Diena_12_Faili/v_cleaned.txt
Diena_12_Faili/v_count.txt
Diena_12_Faili/v_filt_20.txt
Diena_12_Faili/v_filt_all.txt
Diena_12_Faili/v_filt.txt
Diena_12_Faili/frost-filtered.txt
Diena_12_Faili/frost-yelling.txt
Diena_12_Faili/frost-filtered.txt
Diena_13_Visualization/.ipynb_checkpoints/Interact-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Uzd1_group1_n16-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Uzd2_g1_n16-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Uzd1_g2-checkpoint.ipynb
Diena_13_Visualization/.ipynb_checkpoints/Matlplotlib Full Example-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/U1_g2-checkpoint.ipynb
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_14_JSON/ur_yearly_indent.json
Diena_14_JSON/ur_yearly.json
Diena_14_JSON/.ipynb_checkpoints/Using_JSON_APIs-checkpoint.ipynb
Diena_14_JSON/mock_data.csv
Diena_14_JSON/.ipynb_checkpoints/Recipies_G1-checkpoint.ipynb
Diena_14_JSON/10_recipes.json
Diena_14_JSON/ingredients.json
Diena_14_JSON/omlete_ingredients.json
